.choose-heading h6{
    font-size: 20px;
    color: rgb(156, 156, 156);
}
.choose-heading h2{
    font-size: 40px;
    color: #f9461d;
}
.choos-img img{
    width: 100%;
}
.choss-item {
    padding: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius:10px;
    border-top: 2px dashed #f9461d;
}